{% extends 'base.html' %}

{% block title %}
Contact
{% endblock %}

{% block search %}
{% endblock %}

{% block welcome %}
<h2 class="heading" style="text-align: center;">Contact Information</h2>
{% endblock %}

{% block content %}
<article class="about-section py-5">
    <div class="container">
        <section class="ftco-section contact-section px-md-4">
            <div class="container">
                <div class="row d-flex mb-5 contact-info">
                    <div class="col-md-12 mb-4">
                    </div>
                    <div class="w-100"></div>
                    <div class="col-lg-6 col-xl-3 d-flex mb-4">
                        <div class="info bg-light p-4">
                            <p><span>Address:</span> Cameroun-Yaoundé Nkolbisson</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3 d-flex mb-4">
                        <div class="info bg-light p-4">
                            <p><span>Phone:</span> <a href="tel://237699806665">+ 237699806665</a></p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3 d-flex mb-4">
                        <div class="info bg-light p-4">
                            <p><span>Email:</span> <a href="mailto:lndronana@gmail.com">lndronana@gmail.com</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </div>
</article>
{% endblock %}